body
  font-family: sans-serif
  font-size: 10px
  font-weight: 400
  color: rgba(0, 0, 0, 0.7)

table
  border-spacing: 0
  white-space: nowrap

td, th
  padding: 0.5em 0.25em
  text-align: center
  font-weight: 400

tbody th
  text-align: left

.txt-rt
  text-align: right

tr.wc--1 td,
tr.wc--1 th
  border-top: 5px solid #fff
